@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  background: linear-gradient(135deg, #0a2c2f, #12403b, #2c5364); /* Dark futuristic gradient */
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(46, 46, 46, 0.7);
  backdrop-filter: blur(8px);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar h2 {
  color: rgb(112, 250, 206);
  margin-left: 20px;
}
.navbar h2:hover {
  color: rgb(250, 255, 253);
  text-shadow: 0 0 8px rgb(76, 230, 217);
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(124, 236, 195);
  font-weight: bold;
}

.navbar ul li a:hover {
  color: white;
  text-shadow: 0 0 8px rgb(76, 230, 217);
}

/* Hero Section */
.hero {
  margin-top: 100px;
  text-align: center;
  padding: 50px;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 10px;
  opacity: 0.8;
}
h1 {
  position: relative;
  font-size: 5vw;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #01fe87;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
      width: 0;
  }

  70%,
  90% {
      width: 100%;
  }
}